<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
    <title>cadena</title>
</head>
<body>

    <div class="sidebar" id="sidebar">
     
        <ul>
            <button class="btn ">Botón Primario</button>
            <button class="btn ">Botón Secundario</button>
            <button class="btn ">Botón de Éxito</button>
        </ul>

    </div>
    <div class="image-container">
        <button id="sidebarToggle" class="logo-button"><img src="Molecular Insights.jpg" alt="Imagen"></button>
    </div>
    <script src="script.js"></script>

    <div id="center-rectangle">
        <button class="yellow-button">Generar</button>
    </div>
      
    <div id="center-rectangle">
    </div>
    <h2 class="h2">Molecular Insights</h2>
    <div class="navbar">
        <ul>
            <li><a href="#">Thiago Sartore</a></li>
            <li><a href="#">Hernan Torres</a></li>
            <li><a href="#">Dante Espinoza</a></li>
            <li><a href="#">14/08/23</a></li>
        </ul>
    </div>
      
    <div class="sequence-container"></div>
    <div class="adn-gif-container">
        <img src="adn.gif" alt="ADN GIF" class="adn-gif">
    </div>
</body>
</html>
